@charset "UTF-8F";

:root{
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --accent-color: #00ffff;
    --accent-hover: #00cccc;
    --border-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: var(--accent-color);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 5%;
    background-color: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover{
    color: var(--accent-color);
}

header h1{
    color: var(--text-color);
    letter-spacing: 4px;
}

main section{
    padding-top: 80px;
}

section{
    max-width: 1000px;
    margin: 40px auto;
    padding: 60px 30px;
    background: rgba(30, 30, 30, 0.6);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagens/fundo-mazda.jfif);
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.hero-content{
    text-align: left;
    max-width: 600px;
    padding-left: 5%;
}

.hero-content h1{
    font-size: 4rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 10px grba(0,0,0,0.8);
}

.hero-content p{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--text-color);
}

.sub-text{
    font-style: italic;
    opacity: 0.8;
    margin-bottom: 30px;
}

.cta-button{
    padding: 15px 40px;
    background: var(--accent-color);
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease;
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 10px rgba(0, 255, 255, 0.2);
}

.cta-button:hover{
    background: transparent;
    color: var(--accent-color);
    box-shadow: 0px 0px 25px rgba(0, 255, 255, 0.6);
    transform: translateY(-3px);
}

.sobre{
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.05);
    gap: 30px;
}

.sobre img{
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.3);
}

