@charset "UTF-8F";

:root{
    --bg-color: #121212;
    --card-bg: #1e1e1e;
    --text-color: #e0e0e0;
    --accent-color: #00ffff;
    --accent-hover: #00cccc;
    --border-color: #333;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
h1, h2, h3{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    color: var(--accent-color);
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 15px 5%;
    background-color: rgba(18, 18, 18, 0.9);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid var(--border-color);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.9rem;
    text-transform: uppercase;
    transition: 0.3s;
}

nav a:hover{
    color: var(--accent-color);
}

header h1{
    color: var(--text-color);
    letter-spacing: 4px;
}

main section{
    padding-top: 80px;
}

section{
    max-width: 1000px;
    margin: 40px auto;
    padding: 60px 30px;
    background: rgba(30, 30, 30, 0.6);
    border: 1px solid var(--border-color);
    border-radius: 20px;
    backdrop-filter: blur(5px);
}

.hero{
    background: none;
    border: none;
    backdrop-filter: none;
} 

.sobre{
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 12px;
    box-shadow: 0px 8px 30px rgba(0,0,0,0.05);
    gap: 30px;
}

.sobre img{
    border-radius: 8px;
    border: 2px solid var(--accent-color);
    box-shadow: 0px 0px 20px rgba(0, 255, 255, 0.3);
}

